.footer {
  background: linear-gradient(#333, #000);
  font-family: 'Source Code Pro', monospace;
  font-weight:300;
  font-size: 0.75em;
  height: 60px; 

  
	
	div {
		&:nth-child(2){
			margin-left: 15%;
		}
	}


}

.footer-container {
	@include container;

	p {
		padding:20px;
		color: white;
		text-align: center;
	}

	span {
		margin-top: 5px;
	}
}


