
.header {
	@include full;
	float: left;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.80);
}

.logo_container {  
	@include span(3);
	cursor:pointer;

	.logo {
		@include full;
		max-width: 60px;
		min-width: 50px;
	}
}

.nav {
	@include span(last 7);
	margin-top: 20px;
	
	li {
		@include gallery(4 of 12);
		// border: 1px solid blue;
		padding:5px;
		text-align: center;
		font-size: 1.5em;
		font-family: "korolev", sans-serif;
		color: #bfbbbb;
		cursor: pointer;
	}
}

.nav_active {
	font-weight: bold;
	color: $darkgrey;
}





