
.header {
	@include full;
	float: left;
	background-color: #CFD1CD;
}

.logo_container {  
	@include span(2);
	cursor:pointer;

	.logo {
		@include full;
		max-width: 76px;
	}
}

.nav {
	@include span(last 10);
	margin-top: 30px;
	
	li {
		@include gallery(3 of 12);
		text-align: center;
		font-size: .75em;
	}
}





