
.result {
	width: 100%;
	float: left;
	margin-bottom: 3px;
	background-color: rgba(255,255,255,.5);
	padding: 0 5px 3px 0;
	// max-width: 374px;
	@include trans;

	.result_img {
		width: span(5 of $list_layout);
	}

	.result_title {
		width: 100%;
		-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
		color: $darkgrey;          

		h2 {
			width: 100%;
			font-size: 1.2em;
			padding:15px;
		}

		span {
			font-size: 0.7em;
			margin-left: 5px;
			font-family: $body;
			font-weight: normal;
		}
	}

	.result_address {
		padding-top: 10px;
		width: 70%;
		max-width: 135px;
		font-size: 0.90em;
	}
}

.result_content {
	width: span(last 7 of $list_layout);
	margin-left: 5px;
	float: right;
}

.rating_container {
    width: 100%;
    font-size: .8em;
    color: #7d7e7f;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    

    .rating {
    	float: left;
    	margin-right: 10px;
    }

	.price {
		float: right;
	}
}

.results {
	float: left;
	width: 100%;
	background-color: white;
	font-family: $heading;

	&:hover {
		opacity:1;
	}

	@include breakpoint($large) {
		width:500px;
	}
}

.results--search {
	width: 100%;
	padding:5px;
     
	.search_input {
		width: 100%;
		padding:15px 10px;
		border: 1px solid $darkgrey;
		border-radius: 20px;
	}


	input[type=text]:focus {
		border-color: $icon;
		outline: none;
	}
}

.result--catagories {
	float: left;
	@include span(12);
	background-color: white;        
	border-bottom: solid 5px $teal; 
	// padding-bottom: 15px;                

	@include breakpoint($large) {
		@include span(2 of 12);
		height: 100vh;
		border-bottom: none;
		border-right: solid 5px $teal;
	}
}

.result--options {
	@include span(12);
	float: left;
	background-color: $frosted;
	height: 100%;


	@include breakpoint($large) {
		@include span(last 9 of 12);
		overflow-y:scroll;
		height: 100vh;
	}
}

// hr {
// 	margin-top: span(0.5);
// 	margin-bottom: span(0.5);
// }


.result_icon {
	float: left;
	width: 100%;
	font-family: 'korolev', sans-serif;
	@include gallery(3 of $list_layout);

}
.interactive {
	.fa {
		color: $teal;
		// text-align: center;
		cursor: pointer;


		span {
			font-size: 0.6em;
			text-align: center;
		}
	}
}

.review_container {
	float: left;
	width: 100%;
	clear: both;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #000;
}



