
.results {
	float: left;
	width: 100%;
	height: 100vh;
	background-color: $darkgrey;

	@include breakpoint($large) {
		width:400px;
	}
}

.result--catagories {
	float: left;
	@include span(2 of 12);
	height: 100vh;
	background-color: $lightgrey;

	@include breakpoint($large) {
		@include span(3 of 12);
	}
}

.result--options {
	@include span(last 10 of 12);
	float: left;
	background-color: grey;
	height: 100vh;

	@include breakpoint($large) {
		@include span(last 9 of 12);
	}
}


