html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  float: left;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.nav_wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  @include container;
}

.page-wrap {
	min-height: 100vh;
  max-width: 1288px;
  @include container;
}

.query_container {
  width: 100%;
}

.background-image {
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  /* equal to footer height */
  margin-bottom: -60px; 

  &:after {
    content: "";
    display: block;
    height: 60px; 

  }
}


// .wrapper {

// }