
.filter_icons {
    @include container;
    margin: 15px auto 15px 7px;

    @include breakpoint($large) {
       display: flex;
       flex-direction:column;
    }
}

.icon {
    float: left;
    margin: 15px auto;
    max-width: 65px;
    max-height: 65px;
    cursor: pointer;
    color: $lightgrey;
    @include trans;
    @include gallery(3 of 12);

    @include breakpoint($medium) {
        margin: 15px span(3.2);
    }


    @include breakpoint($large) {
       @include gallery(12 of 12);
       margin: 15px auto;
    }
   

    h6 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 0.5em;

        @include breakpoint($medium) {
            font-size: 1em;
        }
    }

    circle,
    path, 
    rect,
    polygon,
    polyline,
    line {
        @include trans;
    }

    &:hover {
        circle,
        path, 
        rect,
        polygon,
        polyline,
        line {
            stroke: $icon;
        }
    }
}

.cta {
    width: 100%;
    padding: 15px 5px;
    float: left;
    margin-top: 15px;
    text-align: center;
    font-size: 0.8em;

    .directions {
        width: span(6);
        float: left;
        border: 1px solid $teal;
        text-decoration: underline;
        cursor:pointer;
        padding: 5px;
    }

    .uber {
        width: span(6 of $list_layout);
        float: right;
        text-decoration: none;

        .uber_icon {
            height: 20px;
            width: 20px;
            margin-left: 10px;
        }

        h6 {
            float:right;
            font-size: 0.7em;
            text-align: center;
            margin: 5px 20px 0 0;
            color: $darkgrey;

        }
    }
}

.fa:before {
    margin-left: 13px;
}

.interactive .fa span {
    font-family: $body;
}







