


.icon {
    float: left;
    margin: 10px span(1);
    width: span(10);
    max-width: 65px;
    max-height: 65px;
    cursor: pointer;
    @include trans;

    @include breakpoint($medium) {
        margin: 15px span(3.2);
    }


    @include breakpoint($large) {
        margin: 15px span(2.9);
    }
   

    h6 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 0.5em;

        @include breakpoint($medium) {
            font-size: 1em;
        }
    }
}

.cta {
    width: 100%;
    padding: 15px 0;
    // border: 1px solid red;
    float: left;
    margin-top: 15px;

    .directions {
        width: span(6);
        float: left;
        border: 1px solid $teal;
        padding:2px;
        text-decoration: underline;

        cursor:pointer;
    }

    .uber {
        width: span(6 of $list_layout);
        float: right;
        text-decoration: none;

        .uber_icon {
            height: 20px;
            width: 20px;
            margin-left: 10px;
        }

        h6 {
            float:right;
            font-size: 0.7em;
            text-align: center;
            margin: 5px 20px 0 0;
            color: $darkgrey;

        }
    }
}



