
.marker {
	width: 100%;
	
}

.marker_title {
	font-size: 1em;
	font-weight: bold;
}

.marker_address {
	width: 60%;
	margin-bottom: 15px;

}

.marker_tele {
	text-decoration: none;
}

.marker_rating {

}