

#stars_container {
	position: relative;
	width: 89px;
	height: 15px;
	float: left;
}


#starsBar { 
	background-image: url(../img/star-rating.png);
	height: 15px;
	width: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	margin-top: -3px;
	@include trans;
}
