
//Color board
$icon: #FF5A5F;
$iconSelected: #f15c61;
$teal: #00A699;
$orange: #FC642D;
$darkgrey:#7b797a;
$lightgrey:#767676;

$frosted:rgba(255,255,255,0.9);

//Transitions

@mixin trans {
	transition: all 0.2s ease-in-out;
}