
//Brand colors
$icon: #FF5A5F;
$iconSelected: #f15c61;
$teal: #00A699;
$orange: #FC642D;
$darkgrey:#7d7e7f;
$lightgrey:#767676;

//Opaques
$frosted:rgba(255,255,255,0.8);
$shaded:rgba(0,0,0,0.7);


//Fonts
$heading: 'Source Sans Pro', sans-serif;
$body: 'Arial', sans-serif;

//Transitions
@mixin trans {
	transition: all 0.2s ease-in-out;
}
